body::before {
  content: "";
  position: fixed;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  filter: blur(1px);
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 150px 200px 100px 650px;
}

h1 {
  text-align: center;
}

input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-style: ridge;
}

.buttonAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.buttonAdd button {
  width: 300px;
  background-color: rgb(88, 71, 71);
  color: white;
}
.buttonAdd button:hover {
  background-color: rgb(60, 49, 49);
}

button {
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.filter-buttons {
  display: flex;
  justify-content: center;
}

.filter-buttons button {
  background-color: rgb(134, 110, 110);
  color: white;
}

.filter-buttons button:hover {
  background-color: rgb(59, 48, 48);
}

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: -5px;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin: 5px 5px 5px 5px;
  line-height: normal;
  width: 20px;
  height: 20px;
}

.todo-title {
  flex-grow: 1;
}

.todo-actions button {
  background-color: #cd2014;
}

.todo-actions button:hover {
  background-color: #881010;
}

.todo-actions button.edit {
  background-color: rgb(56, 46, 46);
}

.todo-actions button.edit:hover {
  background-color: rgb(117, 98, 98);
}

.todo-item.completed .todo-title {
  text-decoration: line-through;
}

@media screen and (max-width: 1250px) {
  .container {
    margin: 150px 100px 100px 450px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 150px 50px 100px 350px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    margin: auto;
  }
}

@media screen and (max-width: 420px) {
  .container {
    margin: 50px 0;
  }
}
